body{
background-color: hsl(30, 38%, 92%);
height: 100vh;
}

.containers{
    width: 350px;
    margin: auto;
}

.titulo{
    font-family: 'Fraunces', serif;
    color: #000;
    font-weight: 700;
    font-size: 25px;
    justify-content: left;
}

.contents{
    font-weight: 500;
    text-align: left;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    margin-bottom: none;
    justify-content: left;
}

.preco{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 30px;
    font-weight: 700;
}

.preco2{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: line-through;
    margin-top: 14px;
   
}
button{
    background-color: hsl(158, 36%, 37%);
    padding-top: 0px;
    margin-top: 0px;
    color:#FFFF;
    border-width: 0px;
    border-radius: 5px;
    font-size: 15px;
    height: 30px;
    width: 300px;
    font-weight: 500;
    font-family: 'Fraunces', serif;
}